@model Voucher
<div class="container mt-5" style="min-height:840px">
    <h3 class="text-dark">Add Voucher</h3>
    <hr />
    <form asp-action="Create" method="post">
        <div class="row">
            <div class="col-6 mt-5">
                <label asp-for="@Model.VoucherName" class="form-label">Voucher Name</label>
                <input type="text" asp-for="@Model.VoucherName" class="form-control">
                <span asp-validation-for="@Model.VoucherName" class="text-danger"></span>
            </div>
            <div class="col-6 mt-5">
                <label asp-for="@Model.Value" class="form-label">Value (%)</label>
                <input asp-for="@Model.Value" class="form-control">
                <span asp-validation-for="@Model.Value" class="text-danger"></span>
            </div>
            <div class="col-12 mt-5">
                <label asp-for="@Model.Quantity" class="form-label">Quantity</label>
                <input type="text" asp-for="@Model.Quantity" class="form-control">
                <span asp-validation-for="@Model.Quantity" class="text-danger"></span>
            </div>
            <div class="col-6 d-flex justify-content-start">
                <button type="submit" class="btn btn-dark my-3 ">Create</button>
                <a asp-controller="Voucher" asp-action="Index" class="btn btn-secondary my-3 mx-3" style="width:200px">
                    Back to list
                </a>
            </div>
            
        </div>
    </form>
</div>
@*Validate on client side*@
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}