@page
@model LoginModel

<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/logins/login-4/assets/css/login-4.css">
<style>
	body {
		background-color: #7a7878; /* Chọn một màu nền tối hơn tại đây */
	}

	.border-black-subtle {
		border-color: #7a7878; /* Màu đen */
	}

</style>

<div class="container my-5 mt-5" style="min-height:640px">
	<div class="row justify-content-center">
		<div class="col-lg-10">
			<section class="p-3 p-md-4 p-xl-5">
				<div class="card border-black-subtle shadow-sm">
					<div class="row g-0">
						<div class="col-12 col-md-6">
                            <img class="img-fluid rounded-start w-100 h-100 object-fit-cover" src="~/img/registerImage.jpg" alt="BootstrapBrain Logo">
						</div>
						<div class="col-12 col-md-6">
							<div class="card-body p-3 p-md-4 p-xl-5">
								<div class="row">
									<div class="col-12">
										<div class="mb-5">
											<h3>Log in</h3>
										</div>
									</div>
								</div>
								<form id="account" method="post">
									<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
									<div class="row gy-3 gy-md-4 overflow-hidden">
										<div class="col-12">
											<label for="email" class="form-label">Email <span class="text-danger">*</span></label>
											<input asp-for="Input.Email" type="email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
											<span asp-validation-for="Input.Email" class="text-danger"></span>
										</div>
										<div class="col-12">
											<label for="password" class="form-label">Password <span class="text-danger">*</span></label>
											<input asp-for="Input.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
											<span asp-validation-for="Input.Password" class="text-danger"></span>
										</div>
										<div class="col-12">
											<div class="checkbox mb-3">
												<label asp-for="Input.RememberMe" class="form-label">
													<input class="form-check-input" asp-for="Input.RememberMe" />
													@Html.DisplayNameFor(m => m.Input.RememberMe)
												</label>
											</div>

										</div>
										<div class="col-12">
											<div class="d-grid">
												<button id="login-submit" type="submit" class="btn bsb-btn-l btn-dark">Log in now</button>
											</div>
										</div>
									</div>
								</form>
								<div class="row">
									<div class="col-12">
										<hr class="mt-5 mb-4 border-secondary-subtle">
										<div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end">
											<a id="forgot-password" asp-page="./ForgotPassword" class="link-secondary text-decoration-none">Forgot password</a>
											<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="link-secondary text-decoration-none">Create a new account</a>
											@* <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="link-secondary text-decoration-none">Resend email confirmation</a> *@
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-12">
                                        <div class="mt-5 mb-4 d-flex align-items-center">
                                            <p class="me-3">Or sign in with</p>
                                            <section>
                                                @{
                                                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                                    {
                                                        <div>
                                                            <p>
                                                                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                                                    article
                                                                    about setting up this ASP.NET application to support logging in via external services
                                                                </a>.
                                                            </p>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                                            <div class="d-flex">
                                                                <p class="me-3">
                                                                    @foreach (var provider in Model.ExternalLogins!)
                                                                    {
                                                                        <button type="submit" class="btn btn-danger me-3" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                                    }
                                                                </p>
                                                            </div>
                                                        </form>
                                                    }
                                                }
                                            </section>
                                        </div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
